.banner{
    background: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi.huffpost.com%2Fgen%2F2155972%2Fimages%2Fo-HAUNTED-HOUSE-facebook.jpg&f=1&nofb=1') center center;
    height: 50vh;
    position: relative;
    
    
}

.banner__info{
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__search{
    display: flex;
    flex-direction: column;
}

.banner__searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #85C33A !important;
}


.banner__info > button{
    background-color: #85C33A;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover{
    background-color: white;
    color: #85C33A;
}



.banner__info > h5{
    margin-top: 10px;
}